* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.you-tube,
.facebokk,
.twiter {
    margin-left: 10px;
}

.you-tube {
    width: 30px;
    background: #CE0000;

}

.you-tube img {
    width: 100%;
}

.facebokk {
    width: 30px;
    height: 100%;

}

.facebokk img {
    width: 100%;
    height: 100%;
}

.twiter {
    width: 30px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: #44AED5;
}

.twiter a {
    color: white;
    text-decoration: none;
}


#one-cont {
    position: absolute;
    top: 0;
    right: 45px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px 5px;
}

#div-imagems {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.butao {
    background: #ECEEF5;
    color: #365899;
    padding: 0px 5px;
    border: 1px solid #C7C7C7;
}

.caixadelaki {
    margin: 0px 10px;
    border: 2px solid #ddd;
    background: white;
}

.caixadelaki span {
    padding: 1px 3px;
}

.div-evet h2 {
    font-size: 22px;

}

#two-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 4px;

}

.div-evet,
#infor {
    gap: 0.7rem;
    color: #E0970A;
}

#infor {
    cursor: pointer;
}


.form {
    position: relative;
}

.form {
    display: flex;
    align-items: center;
}

.form input {
    padding: 5px 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.form input[type=button] {
    background: #505050;
    color: white;
    font-weight: bolder;

}

.form input[type=text]::placeholder {
    position: absolute;
    left: 25px;
}

.form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

.texto {
    padding-left: 20px;
    width: 300px;
}

.logo-vip {
    width: 150px;
    position: relative;
    height: 100px;
    margin-top: -20px;
}

.logo-vip h3 {
    justify-content: center;
    font-size: 50px;
    font-family: monospace;
    position: absolute;
    right: -10px;
    bottom: -10px;
    display: flex;
    color: #7C7E83;

}

.logo-vip h1 {
    color: #D84004;
    font-size: 50px;
    font-weight: bolder;

}


#header-img {
    position: relative;
    padding: 0;
    margin: 0 auto;
    height: 300px;
    width: 100%;
}

#container {
    position: relative;

}

.img-logo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.img-logo img {
    height: 100%;
    width: 100%;
}

.carousel-inner {
    border: 4px solid white;
    border-bottom: 25px solid white;
    border-radius: 0px 10px 10px;
    width: 800px;
}

#carouselExampleIndicators {
    background-image: url(img/web-desig-2.png);
    padding: 12px;
}

.agendas {
    width: 500PX;
    background: linear-gradient(to bottom, #399787, #4fc470);
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border: 4px solid white;
    display: block;
}

.linha {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 100px;
    border-radius: 0px 0px 200px;
    box-shadow: 0px 5px 5px;
    background: #F77E35;
    padding-top: 0.2rem;
    color: #AA4622;


    & h1 {
        font-size: 22px;
    }
}

.cont {
    margin-top: 35px;

}

.list {
    background: rgb(245, 243, 245);
    display: flex;
    gap: 10px;
    padding: 4px;
    align-items: center;
    margin: 10px;
    border-radius: 5px;

    & h5:first-child {
        color: #13b657;

    }

    & h5:nth-child(2) {
        font-size: 14px;
    }

}

.lista {
    background: rgb(245, 243, 245);
    display: flex;
    gap: 10px;
    padding: 4px;
    align-items: center;
    margin: 10px;

    & h5:first-child {
        color: #CE0000;

    }
}

.list h5 {
    font-size: 15px;
    line-height: 10px;
}


.LIST-CALE {
    border: 2px solid #246F43;
    width: 45px;
    display: block;
    text-align: center;
    border-radius: 5px;

    & div {
        width: 100%;
        height: 100%;
        background: white;
        color: #FEAD37;
        font-size: 20px;
    }



    & div:first-child {
        background: #246F43;
        font-size: 10px;
    }
}

.cale {
    border: 2px solid #D84004;

    & div {
        width: 100%;
        height: 100%;
        background: #D84004;
        color: #FEAD37;
        font-size: 20px;
    }

    & div:first-child {
        background: #8E1616;
        font-size: 10px;
    }


}

.carousel-control-next,
.carousel-control-prev {
    background-color: rgb(255, 252, 252);
    /* Torna o fundo transparente */
    height: 50px;

}

.carousel-control-next span,
.carousel-control-prev span {
    color: rgb(161, 157, 157);
    font-size: 30px;
    font-weight: bolder;
}

.carousel-control-prev {
    position: absolute;
    top: 8rem;
    left: 10px;
    width: 30px;
}

.carousel-control-next {
    position: absolute;
    left: 59%;
    top: 8rem;
    width: 30px;

    transform: translateX(-40%);
}

.carousel img {
    position: relative;

}

.forms {
    position: absolute;
    bottom: 11px;
    left: 30%;
    transform: translate(-40%);
    gap: 10px;
}

#containes {
    position: absolute;
    top: 38rem;
    left: 50%;
    width: 90%;
    height: 100vh;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.carousel {
    height: 340px;
    width: 100%;
    display: flex;
    gap: 10px;
    position: relative !important;
    margin-bottom: 20px;

}

#coberturas {
    background-image: url(img/web-desig-2.png);
    height: 320px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;

}

.coberturas-logos {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 200px;
}

.logo-cbc {
    background: #F77E35;
    border-radius: 0px 0px 200px;
    box-shadow: 0px 5px 5px;
    width: 190px;
    height: 45px;
    color: #AA4622;
    position: absolute;
    left: 0;
    top: 0;


}

.textMais {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    background: #fffefe;
    font-size: 15px;
    padding: 10px;
    gap: 10px;
    color: #8A8686;
    font-weight: 600;


    & a {
        text-decoration: none;
        color: #858181;
        padding-bottom: 4px;

    }
}

.textMais i {
    background: #8A8686;
    color: white;
    padding: 3px;
    font-size: 11px;
}

.text-ctt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0px 2%;
    border-radius: 10px;
    gap: 10px;
    font-size: 17px;


    & span:nth-child(1) {
        color: #6e6c6c;
        font-weight: 600;
    }
}

.fotos-cobertura {
    padding-top: 10px;
    color: #8A8686;
    font-weight: 600;
    display: flex;
    gap: 20px;
}

.img {
    height: 225px;
    width: 300px;
    background: white;
    padding: 5px;
    box-shadow: 5px -5px 5px 5px rgb(255, 255, 255);


    & p {
        line-height: 16px;
    }
}

.img,
p {
    padding-left: 10px;
}

.data-fts {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;


    & span:nth-child(2) {
        color: #FF8A21;

    }
}

.img img {
    height: 50%;
    width: 100%;
    margin-bottom: 5px;
}

#imagems6 {
    width: 100px;
    text-align: center;
    background: transparent;
    box-shadow: 0px 0px 0px 0px transparent;

    & .i {
        margin-bottom: 15px;
        background: #f3f3f3;
        border-radius: 10px;
    }

    & i {
        font-size: 25px;
        display: block;
    }
}

#imagems2 {
    background: linear-gradient(to bottom, #FF8F7A, #ffd770);

}

#imagems4 {
    position: relative;
    /* Adicionando position relative ao contêiner */
}

#imagems4 img {
    position: relative;
}

#imagems4 svg {
    width: 100%;
    height: 100%;
    fill: #868686;

}

.ico-img {
    background: #D7D7D7;
    position: absolute;
    z-index: 8989;
    top: 70px;
    width: 60px;
    height: 30px;
    height: 30px;
    left: 20px;
    display: flex;
    font-size: 30px;
    border-radius: 5px;
}

.arow {
    padding: 12px;
    padding-right: 20px;
    background: #ECECEC;
    border: 1px solid #BABABA;
    border-bottom: 2px solid rgb(255, 255, 255);
    justify-content: space-between;
    display: flex;
    border-radius: 5px;
    gap: 10px;
    margin-bottom: 10px;
}

.arow div:nth-child(2) {
    background: #B42727;
}

#anucio img {
    width: 100%;
}

#pag-noticias {
    display: flex;
    padding: 0px;
    padding-right: 8px;
    margin-bottom: 15px;
}

#noticias {
    background-image: url(img/web-desig-2.png);
    position: relative;
    padding: 10px;
    height: 550px;
}

#noticias .paid-out {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 98%;
    left: 0;
    top: 0;



    & h3 {
        background: #F77E35;
        border-radius: 0px 0px 200px;
        box-shadow: 0px 5px 5px;
        width: 190px;
        height: 45px;
        color: #AA4622;

    }
}

.clikMore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0px 2%;
    border-radius: 10px;
    background: #fffefe;
    font-size: 17px;
    cursor: pointer;
    gap: 10px;
    color: #8A8686;
    font-weight: 600;


    & a {
        text-decoration: none;
        color: #858181;
        padding-bottom: 5px;

        & i {
            background: #8A8686;
            color: white;
            padding: 3px;
            font-size: 11px;
        }

    }
}

.academy1 {
    display: flex;
    background: #F5F5F5;
    margin-top: 60px;
    margin-bottom: 2px;

    & img {
        border: 3px solid rgb(255, 255, 255);
        width: 300px;
    }
}

.qd-buri {
    padding: 10px;
}

.text-buriti {
    max-width: 380px;

    & span:nth-child(1) {
        color: rgb(255, 255, 255);
        background: #5BB05C;
        padding: 0px 15px 4px;
        border-radius: 5px;
        cursor: pointer;
        border-top: 2px solid #4F8A50;
        border-left: 2px solid #4F8A50;
    }

    & span {
        margin-right: 10px;
        color: #424040;

    }

    & h3:nth-last-child(2) {
        color: #A6421F;
        font-size: 18px;
        margin-top: 10px;
    }

    & h3:nth-last-child(1) {
        font-size: 16px;
    }
}

.academy2 {
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #F5F5F5;
    margin-bottom: 2px;

    & span:nth-child(1) {
        color: rgb(255, 255, 255);
        background: #5B86B0;
        padding: 0px 15px 4px;
        border-radius: 5px;
        cursor: pointer;
        border-top: 2px solid #4F6C8A;
        border-left: 2px solid #4F6C8A;
    }

    & span {
        margin-right: 10px;
        color: #424040;
        font-size: 14px;
    }

    & h3 {
        margin-top: 10px;
        font-size: 14px;
        font-weight: bolder;
        color: #A6421F;

    }

}

.acd3 span:nth-child(1) {
    background: #B63D56;
    border-top: 2px solid #8D3948;
    border-left: 2px solid #8D3948;
}

body {
    height: 200vh;
}

#classificacao {
    background-image: url(img/web-desig-2.png);
    position: relative;
    padding: 10px;
    height: 550px;

}

.out {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 98%;
    left: 0;
    top: 0;


    & h3 {
        background: #F77E35;
        border-radius: 0px 0px 200px;
        box-shadow: 0px 5px 5px;
        width: 220px;
        height: 45px;
        color: #AA4622;

    }
}


.motos {
    background: #FEFEFE;
    margin-top: 60px;
    padding: 10px;
    height: 88%;
}

.motos div:nth-child(1) {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;

    & a {
        margin-left: -10px;
        color: red;
        text-decoration: none;
        font-weight: bolder;

    }

    & svg {
        fill: red;
        cursor: pointer;
    }

}

.cb300 {
    width: 100%;

    & img {
        width: 100%;
        margin-bottom: 10px;
    }
}

.MotoHonda {
    padding: 15px;
    padding-top: 0;
    margin-bottom: 20px;


    & h2 {
        font-weight: bolder;
        font-size: 18px;
    }

    & a {
        color: red;
        text-decoration: none;
    }

}

.MotoHonda h2 {
    font-size: 15px;

}

.MotoHonda h3 {
    font-size: 15px;
}

.anucio {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-right: 25px;
    margin-top: 55px;

    & button {
        border: 1px solid #A1A1A1;
        font-size: 12px;
        padding: 0px 10px;
        border-radius: 3px;
        border: 1px solid #8D8D8D;
        border-bottom: 2px solid #8D8D8D;
        font-weight: bold;
    }
}

.oferta {
    display: flex;
    align-items: center;
    overflow: hidden;



    & button {
        position: relative;
        background: #606060;
        color: white;
        z-index: 99;
        border: 2px solid #606060;



    }

    & i {
        color: #606060;
        position: absolute;
        right: 30px;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

}

.item1 {
    background: #D2D2D2 !important;
    height: 90px;
}

.top-DJ {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    position: absolute;
    left: 0;

    & h3 {
        background: #F77E35;
        border-radius: 0px 0px 200px;
        box-shadow: 0px 5px 5px;
        width: 120px;
        height: 45px;
        padding-left: 10px;
        color: #AA4622;


    }
}

.js {
    margin-top: 55px;
}

.IMG {
    background-image: url(img/web-desig-2.png);
    position: relative;
    height: 340px;
}

.gata {
    width: 94%;

    & h3 {
        width: 250px;
    }
}

.recados {
    & h3 {
        width: 180px;
    }
}

#RECADOS {
    gap: 15px;
    padding: 8px;
    margin-bottom: 10px;

}

.djs img {
    width: 100%;
    margin-bottom: 10px;
    padding: 5PX;
}

.djs {
    background: #F8F8F8;
    height: 280px;

    & div:nth-child(2) {
        background: #D7D7D7;
        font-weight: bolder;
        padding-left: 15px;
        padding-bottom: 1px;
        border-right: 20px 0px;
        margin-bottom: 10px;
    }

}

.sobre {
    padding-left: 20px;

}

.gataburiti {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    position: relative;
}

.imgGata {

    & img {
        height: 270px;
        width: 240px;
        border: 2px solid white;

    }
}

.gataburiti div:nth-child(2) {
    width: 220px;
    text-align: center;
    position: relative;
    padding: 10px;
    padding-top: 0;


    & img {
        width: 100%;
    }

}

.smile {
    position: absolute;
    text-align: left;
    padding-left: 10px;
    height: 180px;
    padding-top: 5px;

    & span:nth-child(1) {
        color: #A6421F;
        font-weight: bold;
    }

    & span:nth-child(2) {
        font-size: 14px;

    }
}

.conhecer {
    position: absolute;
    bottom: 10px;


    & button {
        background: #ae6897;
        color: white;
        border: 2px solid #663959;
        border-radius: 50px;
        width: 160px;
        font-weight: bolder;

    }

    & svg {
        fill: white;
        background: #671856;
        border-radius: 8px;
        border-top: 2px solid black;
        width: 22px;
    }
}

.prxGata {
    background: #F5F5F5;
    position: absolute;
    padding: 8px;
    bottom: 0px;
    left: 50%;

    transform: translate(-50% 45%);

    & a {
        text-decoration: none;
        color: #8C8888;
        font-weight: bolder;


    }

}

.recado {
    position: relative;

    & h3 {
        font-size: 14px;
    }
}

.in {
    background: #F9F9F9;
    margin: 5px;
    font-size: 14PX;
    display: flex;
}

.in span {
    background: #EBEBEB;
    position: absolute;
    left: 0;
    font-weight: bolder;
    width: 50px;
    padding-left: 5px;
    padding: 4px;
    color: #A7A5A5;
}

.in span::after {
    content: "";
    position: absolute;
    right: -12px;
    top: 0;
    border-left: 14px solid #EBEBEB;
    /* Apenas o lado esquerdo com a cor desejada */
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
}

.spç {
    margin-bottom: 10px;
}

.in h3 {
    margin-left: 100px;
    /* Adiciona uma margem à esquerda do <h3> */
    color: #B42727;
}

.caixaDEevios {
    max-width: 360px;
    padding-left: 10px;

    & h3 {
        font-size: 15px;
    }
}

.White-color {
    background: #F9F9F9;
    height: 210px;

    & div:nth-child(2) {
        display: flex;
        justify-content: end;
        padding-right: 15px;
        gap: 10px;
        margin-top: 55px;

        & button {
            border-radius: 50px;
            padding: 0px 0.6rem;
            font-weight: bolder;
            background: linear-gradient(to bottom, #F0F0F0, #d4d2d2);
        }
    }
}

.nav-rodaPe {
    max-width: 1360px;
    margin: 0 auto;
    padding: 10px;

    & ul {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    & a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 18px;

    }
}

.header-rodaPe {
    background-image: url(img/desig-rodaPe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;

}
body {
    background: #F0EEE9;
    position: relative;
    height: 250vh;
}


.header-rodaPe div {
    display: flex;
}

.roda-pe {
    max-width: 1360px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: left;
    gap: 20px;

}

.logo-rodaPE {
    margin-top: 6px;

    & h1 {
        font-size: 45px;
    }
}
.roda-pe  div:nth-child(2) {
    display: block;

    & span {
        display: block;
        font-family:'Times New Roman', Times, serif;
    }


}
