* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F0EEE9;
    position: relative;

}

#containes {
    margin-top: -150px;
}

.you-tube,
.facebokk,
.twiter {
    margin-left: 10px;
}

.you-tube {
    width: 30px;
    background: #CE0000;


}

.you-tube img {
    width: 100%;
    height: 28px;
}

.facebokk {
    width: 30px;

}

.facebokk img {
    width: 100%;


}

.twiter {
    width: 30px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: #44AED5;
}

.twiter a {
    color: white;
    text-decoration: none;
}


#one-cont {
    position: absolute;
    top: 0;
    right: 8px;
    width: 72.9%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px 5px;


}

#div-imagems {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.butao {
    background: #ECEEF5;
    color: #365899;
    padding: 0px 5px;
    border: 1px solid #C7C7C7;
}

.caixadelaki {
    margin: 0px 10px;
    border: 2px solid #ddd;
    background: white;
}

.caixadelaki span {
    padding: 1px 3px;
}

.div-evet h2 {
    font-size: 22px;

}

#two-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

#container {
    position: relative;
    padding: 50px;
    padding-right: 20px;

}



.two {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}



.div-evet,
#infor {
    gap: 1rem;
    color: #E0970A;
}

#infor {
    cursor: pointer;
}


.form {
    position: relative;
}

.form {
    display: flex;
    align-items: center;
}

#inputGroup {
    width: 350px;
}

#inputGroup input[type=text] {
    box-shadow: none;
    background: #E8E8E8;
}

#inputGroup-sizing-sm {
    background: #E8E8E8 !important;
}



.form input {
    padding: 5px 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #E8E8E8;
}


.form input[type=button] {
    background: #505050;
    color: white;
    font-weight: bolder;
}


.texto {
    padding-left: 20px;
    width: 300px;
}

.logo-vip {
    width: 150px;
    position: relative;
    height: 100px;
    margin-top: -20px;
}

.logo-vip h3 {
    justify-content: center;
    font-size: 50px;
    font-family: monospace;
    position: absolute;
    right: -10px;
    bottom: -10px;
    display: flex;
    color: #7C7E83;

}

.logo-vip h1 {
    color: #D84004;
    font-size: 55px;
    font-weight: bolder;

}


#header-img {
    position: relative;
    padding: 0;
    margin: 0 auto;
    height: 300px;
    width: 100%;
    overflow: hidden;

}

#nav-bar {
    position: absolute;
    top: 36.6%;
    transform: translate(-37% 37%);
    background: #2E2B72;
    width: 100%;
    z-index: 98989;


    height: 40px;

    & ul {
        display: flex;
        align-items: center;
        list-style: none;
        height: 100%;
        gap: 20px;
        padding-left: 15px;
    }

    & a {
        text-decoration: none;
        color: white;
        font-size: 12px;
    }

    & i {
        padding-right: 3px;
    }
}

#nav-bar li:hover {
    background: #E31C80;

}

#nav-bar li {
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
}

#nav-bar ul {
    position: relative;
    width: 100%;
    max-width: 950px;
}

#nav-bar ul::before {
    content: "";
    height: 8px;
    background: #E31C80;
    width: 100%;
    top: 0;
    position: absolute;
    left: 0;

}


.img-logo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.img-logo img {
    height: 100%;
    width: 100%;
}

.carousel-inner {
    border: 4px solid white;
    border-bottom: 30px solid white;
    border-radius: 0px 10px 10px;
    width: 800px;
}

#carouselExampleIndicators {
    background-image: url(img/web-desig-2.png);
    padding: 12px;
    border-radius: 10px;
}

.agendas {
    background-image: url(img/desgi-6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500PX;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border: 4px solid white;
    display: block;
    border-radius: 0px 0px 10px 10px;
}

.linha {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 100px;
    padding-top: 0.2rem;
    color: #AA4622;

    & img {
        position: relative;
        width: 150px;

    }


    & h3 {
        font-size: 22px;
        position: absolute;
        z-index: 99;
        left: 10px;
        bottom: 4px;
    }
}

.cont {
    margin-top: 35px;

}

.list {
    background: rgb(245, 243, 245);
    display: flex;
    gap: 10px;
    padding: 4px;
    align-items: center;
    margin: 10px;
    border-radius: 5px;

    & h5:first-child {
        color: #13b657;

    }

    & h5:nth-child(2) {
        font-size: 14px;
    }

}

.lista {
    background: rgb(245, 243, 245);
    display: flex;
    gap: 10px;
    padding: 4px;
    align-items: center;
    margin: 10px;

    & h5:first-child {
        color: #CE0000;

    }
}

.list h5 {
    font-size: 15px;
    line-height: 10px;
}


.LIST-CALE {
    border: 2px solid #246F43;
    width: 45px;
    display: block;
    text-align: center;
    border-radius: 5px;

    & div {
        width: 100%;
        height: 100%;
        background: white;
        color: #FEAD37;
        font-size: 20px;
    }



    & div:first-child {
        background: #246F43;
        font-size: 10px;
    }
}

.cale {
    border: 2px solid #D84004;

    & div {
        width: 100%;
        height: 100%;
        background: #D84004;
        color: #FEAD37;
        font-size: 20px;
    }

    & div:first-child {
        background: #8E1616;
        font-size: 10px;
    }


}

.buto1 {
    position: absolute;
    left: 12px;
    top: 45%;
    font-size: 30px;
    padding: 4px;
    border: none;
    color: #9a9a9a;
    border-radius: 5px;
    background: #FFFFFF;

}

.buto2 {
    border: none;
    color: #9a9a9a;
    padding: 4px;
    position: absolute;
    right: 39.1%;
    top: 45%;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 5px;
    background: #FFFFFF;
}


.forms {
    position: absolute;
    bottom: 11px;
    left: 30%;
    transform: translate(-40%);
    gap: 10px;
}


.carousel {
    height: 340px;
    width: 100%;
    display: flex;
    gap: 10px;
    position: relative !important;
    margin-bottom: 20px;

}

#coberturas {
    background-image: url(img/web-desig-2.png);
    height: auto;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;

}



.coberturas-logos {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 250px;
}

.logo-cbc {
    width: 200px;
    height: 45px;
    color: #AA4622;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;

}

.logo-cbc img {
    position: relative;
    width: 230px;
    height: 50px;


}

.logo-cbc h3 {
    position: absolute;
    z-index: 99;
    font-size: 24px;
    left: 10px;
}



.textMais {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    background: #fffefe;
    font-size: 15px;
    padding: 10px;
    gap: 10px;
    color: #8A8686;
    font-weight: 600;


    & a {
        text-decoration: none;
        color: #858181;
        padding-bottom: 4px;

    }
}

.textMais i {
    background: #8A8686;
    color: white;
    padding: 3px;
    font-size: 11px;
}

.text-ctt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0px 2%;
    border-radius: 10px;
    gap: 10px;



    & span:nth-child(1) {
        color: #6e6c6c;
        font-weight: 600;
        font-size: 17px;
    }
}

.fotos-cobertura {
    padding-top: 10px;
    color: #8A8686;
    font-weight: 600;
    display: flex;
    gap: 20px;
}

.img {
    height: 225px;
    width: 300px;
    background: white;
    padding: 5px;
    box-shadow: 5px -5px 5px 5px rgb(255, 255, 255);


    & p {
        line-height: 16px;
    }
}

.img,
p {
    padding-left: 10px;
}

.data-fts {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;



    & span:nth-child(2) {
        color: #FF8A21;

    }
}

.img img {
    height: 50%;
    width: 100%;
    margin-bottom: 5px;
}

#imagems6 {
    width: 120px;
    text-align: center;
    background: transparent;
    box-shadow: 0px 0px 0px 0px transparent;

    & .i {
        margin-bottom: 15px;
        background: #ECECEC;
        border-radius: 10px;
        border-left: 1px solid #C0C0C0;
        border-top: 1px solid #C0C0C0;
    }

    & i {
        font-size: 25px;
        display: block;
    }


}

#imagems2 {
    background: linear-gradient(to bottom, #FF8F7A, #ffd770);

}

#imagems4 {
    position: relative;
    /* Adicionando position relative ao contêiner */
}

#imagems4 img {
    position: relative;
}

#imagems4 svg {
    width: 100%;
    height: 100%;
    fill: #868686;

}

.ico-img {
    background: #D7D7D7;
    position: absolute;
    z-index: 8989;
    top: 70px;
    width: 60px;
    height: 30px;
    height: 30px;
    left: 20px;
    display: flex;
    font-size: 30px;
    border-radius: 5px;
}

.arow {
    padding: 12px;
    padding-right: 20px;
    background: #ECECEC;
    border: 1px solid #BABABA;
    border-bottom: 2px solid rgb(255, 255, 255);
    justify-content: space-between;
    display: flex;
    border-radius: 5px;
    gap: 10px;
    margin-bottom: 10px;
}

.arow div:nth-child(2) {
    background: #B42727;
}

#anucio-carro img {
    width: 100%;
}

#pag-noticias {
    margin-bottom: 15px;

}

#noticias {
    background-image: url(img/web-desig-2.png);
    position: relative;
    padding: 5px;
    height: 100%;



}

#noticias .paid-out {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 98%;
    left: 0;
    top: 0;


    & img {
        position: relative;
        height: 50px;
        width: 180px;

    }



    & h3 {
        position: absolute;
        z-index: 99;
        color: #AA4622;
        left: 10px;
        font-size: 24px;

    }
}

.clikMore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0px 2%;
    border-radius: 10px;
    background: #fffefe;
    font-size: 17px;
    cursor: pointer;
    gap: 10px;
    color: #8A8686;
    font-weight: 600;


    & a {
        text-decoration: none;
        color: #858181;
        padding-bottom: 5px;

        & i {
            background: #8A8686;
            color: white;
            padding: 3px;
            font-size: 11px;
        }

    }
}

.out {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 98%;
    left: 0;
    top: 0;


    & img {
        position: relative;
        height: 50px;
        width: 240px;

    }



    & h3 {
        position: absolute;
        z-index: 99;
        color: #AA4622;
        left: 10px;
        font-size: 24px;

    }
}

.academy {
    height: 100%;
}

.cb300 {
    display: flex;
    height: 88%;

    flex-direction: column;

    & div {
        width: 100%;
        margin-bottom: 5px;

        & img {
            border: 2px solid white;
            width: 100%;

        }

        & div {
            padding-left: 10px;

            & a {
                color: red;
                text-decoration: none;
                font-weight: 500;
            }

        }
    }

    & div:nth-child(2) {
        padding-left: 15px;
        max-width: 500px;

        & h3 {
            font-size: 15px;
            font-weight: bolder;
        }

        & h6 {
            font-size: 16px;
            font-weight: bolder;
        }

        & a {
            color: red;
        }

    }
}

#anucio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 10px;
    margin-top: 40px;


    & button {
        font-size: 14px;
        padding: 10px;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 600;
    }

}

#oferta {
    display: flex;
    align-items: center;
    width: auto;
    position: relative;
    padding-right: 15px;
    padding-top: 5px;



    & button {
        padding: 20px;
        padding-top: 0;
        padding-bottom: 0;
        background: #606060;
        border: none;
        color: white;
        z-index: 89;

    }

    & i {
        position: absolute;
        right: -3px;
        font-size: 40px;
        color: #606060;
    }

}

.academy1 {
    display: flex;
    background: #F5F5F5;
    margin-top: 60px;
    margin-bottom: 2px;


    & img {
        border: 3px solid rgb(255, 255, 255);
        width: 300px;
    }
}

.qd-buri {
    padding: 10px;
}

.text-buriti {
    max-width: 380px;


    & span:nth-child(1) {
        color: rgb(255, 255, 255);
        background: #5BB05C;
        padding: 0px 15px 4px;
        border-radius: 5px;
        cursor: pointer;
        border-top: 2px solid #4F8A50;
        border-left: 2px solid #4F8A50;
    }

    & span {
        margin-right: 10px;
        color: #424040;

    }

    & h3:nth-last-child(2) {
        color: #A6421F;
        font-size: 18px;
        margin-top: 10px;
    }

    & h3:nth-last-child(1) {
        font-size: 16px;
    }
}

.academy2 {
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #F5F5F5;
    margin-bottom: 2px;

    & span:nth-child(1) {
        color: rgb(255, 255, 255);
        background: #5B86B0;
        padding: 0px 15px 4px;
        border-radius: 5px;
        cursor: pointer;
        border-top: 2px solid #4F6C8A;
        border-left: 2px solid #4F6C8A;
    }

    & span {
        margin-right: 10px;
        color: #424040;
        font-size: 14px;
    }

    & h3 {
        margin-top: 10px;
        font-size: 14px;
        font-weight: bolder;
        color: #A6421F;

    }

}

.acd3 span:nth-child(1) {
    background: #B63D56;
    border-top: 2px solid #8D3948;
    border-left: 2px solid #8D3948;
}



.item1 {
    background: #D2D2D2 !important;
    height: 90px;

}

#RECADOS {
    margin-bottom: 10px;
}

#grid-colunas {
    /* border: 2px solid rgb(53, 236, 7); */
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    gap: 10px;
    margin-bottom: 20px;


}

.grids {
    background-image: url(img/web-desig-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 10px;
    padding-top: 0;
    position: relative;

}

.logo-photo {
    display: flex;
    align-items: center;
    height: 50px;
    position: absolute;
    left: 0;
    width: 100%;

    & h3 {
        z-index: 2;
        left: 10px;
        font-size: 24px;
        color: #AA4622;
        position: absolute;


    }

    & img {
        position: relative;
        width: 150px;
        height: 100%;

    }

}

.linkMais {
    position: absolute;
    right: 5px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: center;
    gap: 15px;




    & a {
        text-decoration: none;
        color: #858181;
        padding-bottom: 5px;

        & i {
            background: #8A8686;
            color: white;
            padding: 3px;
            font-size: 11px;
        }

    }


}

.imgDJ {
    width: 100%;
    background: white;
    height: 83%;
    margin-top: 60px;
}

.imgDJ img {
    width: 100%;
    padding: 5px;


}

.david {
    background: #D7D7D7;
    padding: 3px;
    padding-left: 15px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.sobre {
    padding-left: 14px;
    font-size: 14px;
    font-weight: 500;
}

.gata {

    & img {
        width: 240px;

    }
}

.gata .linkMais {
    width: 150px;
    right: 15px;
}


.butao:active {
    & i {
        color: #3d6bc0;
    }
}

.nav-rodaPe {
    max-width: 1360px;
    margin: 0 auto;
    padding: 10px;


    & ul {
        display: flex;
        list-style: none;
        gap: 2rem;
    }

    & a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 18px;


    }
}

.gata-img {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid rgb(255, 0, 0); */
    background: transparent;

    & div:nth-child(1) {
        height: 290px;

        & img {
            padding: 0;
            height: 100%;
            border: 2px solid rgb(255, 255, 255);
            z-index: 10;


        }
    }

}

.proxima-gata {
    position: absolute;
    bottom: 10px;
    width: 55%;
    left: 48%;
    transform: translateX(-10%);
    background: #FEFEFE;
    padding: 8px;
    border-bottom: 2px solid #C1C1C1;
    border-right: 2px solid #C1C1C1;
    border-radius: 5px;


    & span {
        font-weight: 500;
        color: #8C8888;
    }
}

.img-icons {
    width: 50%;
    position: relative;


    & div {
        position: absolute;
        top: 10px;
        padding-left: 15px;

        & h6:nth-child(1) {
            color: #A6421F;
        }

        & button {
            border: none;
            background: #B36E99;
            border-bottom: 2px solid #561C46;
            border-radius: 50px;
            width: 80%;
            margin-top: 35px;
        }

        & a {
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-weight: 400;
        }

        & i {
            width: 20px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #541645;
            border-radius: 5px;
            fill: white;
            font-size: 15px;
            border-radius: 5px;
            border-top: 2px solid #38122d;
        }
    }

}

.recado {

    & img {
        width: 190px;
    }
}



.header-rodaPe {
    background-image: url(img/desig-rodaPe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-top: 40px;

}

#recados {
    height: 82%;
    margin-top: 60px;
    position: relative;
    padding-right: 5px;


}

.seta-bordas {
    background: #F9F9F9;
    margin: 2px;
    font-size: 14PX;
    display: flex;
    align-items: center;



    & h3 {
        font-size: 16px;
        margin-left: 80px;
        color: #BF4848;
    }
}

.caixaDEevios {
    margin-top: 5px;
    padding-left: 10px;


    & h3 {
        font-size: 19px;
        font-weight: 400;
        color: black;
    }

}

.White-color {
    height: 79%;
    position: relative;
    background: #F5F5F5;

}

.botoes {
    position: absolute;
    bottom: 10px;
    right: 5px;
    gap: 20px;
    display: flex;
    align-items: center;

    & button {
        border-radius: 10px;
        padding: 10px;
        padding-top: 0;
        padding-bottom: 0;
        border: 2px solid #8E8E8E;
        background: #EBEBEB;
        font-weight: 500;

    }
}

.seta-bordas span {
    background: #EBEBEB;
    position: absolute;
    left: 0;
    font-weight: bolder;
    width: 50px;
    padding-left: 5px;
    padding: 4px;
    color: #A7A5A5;
}

.seta-bordas span::after {
    content: "";
    position: absolute;
    right: -12px;
    top: 0;
    border-left: 14px solid #EBEBEB;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
}



.header-rodaPe div {
    display: flex;
}

.roda-pe {
    max-width: 1360px;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 0;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: left;
    gap: 20px;

}

.logo-rodaPE {
    margin-top: 6px;

    & h1 {
        font-size: 45px;
    }
}

.roda-pe div:nth-child(2) {
    display: block;

    & span {
        display: block;
        font-family: 'Times New Roman', Times, serif;
    }
}

.contratar-quie {
    display: none;
}

.side-bar {
    display: none;
}

.form-icon {
    display: none;
}

@media screen and (max-width: 1399px) {
    .img-icons {
        width: 50%;

        & img {
            padding: 10px;
        }

        & h6:nth-child(2) {
            font-size: 13px;
        }

        & div {
            top: 10px;
            padding-left: 20px;
            padding-top: 5px;
        }

    }

    .proxima-gata {
        position: absolute;
        width: 45%;
        left: 54%;


        & span {
            font-weight: 500;
            color: #8C8888;
            font-size: 14px;
        }
    }

    .selct-button {
        & h6:nth-child(2) {
            font-size: 14px;

        }

    }

    #anucio {
        margin-top: 90px;
    }





}

@media screen and (max-width: 1200px) {
    .academy1 {
        margin-top: 60px;
        margin-bottom: 2px;

        & img {
            width: 250px;
            height: 230px;
        }
    }


    .text-buriti {
        max-width: 370px;

        & h3:nth-last-child(2) {
            font-size: 15px;
        }


        & h3:nth-last-child(1) {
            font-size: 15px;

        }
    }



    .TPO-DJ {

        & .linkMais {
            right: 10px;
        }


        & img {
            width: 120px;
        }

        & h3 {
            font-size: 20px;
        }
    }

    .gata {

        & img {
            width: 190px;
        }

        & h3 {
            font-size: 20px;
        }

        & .linkMais {
            right: 15px;
            width: 130px;
        }


    }

    .recado {

        & img {
            width: 170px;
        }

        & h3 {
            font-size: 20px;
        }

        & .linkMais {
            width: 150px;
        }


    }

    .gata-img {

        & img {
            height: 200px;
            width: 100%;
        }




    }

    .img-icons {
        & i {
            width: 20px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #171654;
            border-radius: 5px;
            fill: white;
            font-size: 15px;
            border-radius: 5px;
            border-top: 2px solid #38122d;
        }

    }

    .selct-button {
        padding: 0;

        & button {
            width: 90% !important;
            font-size: 14px;
            margin-top: 20px !important;
            margin-left: -5px;

        }


    }

    .out {

        & img {
            width: 230px;

        }

        & h3 {
            font-size: 22px;

        }
    }

    .hondacb300 {
        z-index: 999;
        width: 150px;

        & span {
            font-size: 16px;
        }
    }



}

@media screen and (max-width: 1199px) {
    .proxima-gata {
        width: 50%;
        left: 50%;


        & span {
            font-size: 13px;
        }
    }

    .gata-img {
        div:nth-child(1) {
            width: 45%;
        }
    }

    .img-icons {

        img {
            padding: 3px;

        }
    }

    .selct-button {
        & h6:nth-child(2) {
            font-size: 15px;
        }
    }

    .caixaDEevios {

        & h3 {
            font-size: 15px;
        }

    }

}


@media screen and (max-width: 1198px) {
    .div-evet {
        & h2 {
            font-size: 15px;
        }

    }

    .fotos-cobertura .img {
        height: 100%;
    }

    .data-fts {
        width: 80%;
        flex-wrap: wrap;
        margin-bottom: 10px;

    }

    .coberturas-logos {
        margin-left: 200px;
        gap: 5px;
    }

    .textMais {
        font-size: 14px;
        gap: 10px;
        width: 180px;
        z-index: 999;

    }

    .text-ctt {
        gap: 5px;
        font-size: 14px;

        & span:nth-child(2) {
            padding-bottom: 4px;
        }

        & span:nth-child(1) {
            font-size: 14px;

        }
    }



}

@media screen and (max-width: 995px) {
    #one-cont {
        width: 100%;
        justify-content: end;

    }

    #containes {
        /* border: 2px solid rgb(0, 255, 21); */
        padding: 0;
    }
}

@media screen and (max-width: 990px) {
    .carousel {
        height: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .carousel-inner {
        width: 100%;
        height: 50%;
    }

    .carousel-item img {
        height: 300px;
    }

    #AGENDA {
        width: 100%;
    }

    .forms {
        z-index: 999;
        top: 37.2%;
        left: 45%;
        transform: translate(-45%, -20%);
        height: 25px;
    }

    .buto1,
    .buto2 {
        top: 100px;
    }

    .buto2 {
        right: 11px;
    }

    .fotos-cobertura {
        flex-wrap: wrap;
    }

    .img p {
        max-width: 150px;
    }

    #anucio-carro img {
        height: 60px;
    }

    .coberturas-logos {
        margin-bottom: 20px;
        gap: 5px;

    }

    .textMais {
        font-size: 15px;
        width: 270px;
    }

    .contratar {
        display: none;
    }

    .contratar-quie {
        display: block;
        line-height: 15px;


    }

    .text-ctt {
        & i:nth-child(1) {
            font-size: 25px;
        }

        & a i {
            font-size: 20px !important;
            color: rgb(8, 231, 8);
            text-align: center;

        }

        & a {
            margin-left: 5px;
        }
    }

    #imagems6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 315px;

        & .i {
            width: 65%;
        }

        & i {
            font-size: 25px;
            display: block;
        }


    }


    .announcement {
        height: 80px;

        & img {
            height: 100%;
        }
    }

    #pag-noticias {
        gap: 15px;

    }

    #grid-colunas {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    #recados {
        height: 160px;
    }

    .grid3 {
        height: 300px;
    }

    .White-color {
        height: 100%;

    }

    .img-icons {



        & .selct-button {

            & button {
                width: 80% !important;


            }

            & i {
                padding-bottom: 2px;
            }



            & h6:nth-child(2) {
                max-width: 200px;
            }

        }

    }

    .proxima-gata {
        width: 54%;

        & span {
            font-size: 15px;
            font-weight: bolder;
        }
    }

    .imgDJ {
        height: 88%;
    }

    .sobre {
        max-width: 300px;
        margin-bottom: 20px;
    }

    .TPO-DJ {

        & img {
            width: 170px;
        }

        & .linkMais {
            width: 140px;

        }

    }

    .gata {

        & img {
            width: 220px;
        }
    }

    .gata,
    .recado {

        & .linkMais {
            width: 160px;
        }
    }

    #container {
        position: relative;
        padding: 50px;
        padding-right: 20px;
        max-width: 100%;

    }

    #navs {
        display: none;
    }


    .side-bar {
        position: absolute;
        z-index: 8989;
        width: 0%;
        overflow: hidden;
        top: 3.1%;
        height: 100vh;
        display: block;
        transition: .3s;
    }

    #NAV-BAR {
        height: 100%;
        background: #2E2B72;

        & ul {
            list-style: none;
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
            height: 90%;

        }

        & li {
            padding: 10px;
            padding-left: 30px;
        }

        & li:hover {
            background: #E31C80;
            transition: .3s;

        }

        & a {
            text-decoration: none;
            display: flex;
            gap: 10px;
            align-items: center;
            color: white;
        }
    }

    .side-bar ul::before {
        content: "";
        height: 100%;
        width: 20px;
        background: #E31C80;
        position: absolute;

    }

    .form-icon {
        display: flex;
        font-size: 45px;
        margin-top: -15px;
    }

    .form {
        display: none;
    }

    .abri-menur {
        width: 100%;
        overflow: visible;
        transition: .3s;

    }

    .two {
        display: flex;
        align-items: center;
    }

    #anucio {
        padding-bottom: 15px;
    }






}

@media screen and (max-width: 767px) {
    .fotos-cobertura {
        justify-content: center;
    }

    .text-ctt {
        display: none;
    }

    .textMais {
        width: 70%;
        text-align: end;

    }

    #div-imagems {
        display: none !important;
    }

    #infor {
        width: 100%;
        justify-content: center;
        font-size: 18px;
    }

    .side-bar {
        top: 2.6%;
    }

    .img {
        width: 380px;
    }




}

@media screen and (max-width: 500px) {
    .academy1 {
        flex-direction: column;

        & img {
            width: 100%;
            margin-bottom: 10px;
        }
    }


}

@media screen and (max-width: 582px) {
    #page {
        width: 99%;

    }

    #container {
        padding-left: 10px;
    }


}

@media screen and (max-width: 991px) {
    .div-evet {
        & h2 {
            display: none;
        }
    }

    .nav-rodaPe {
        border: 1px solid red;

        & ul {
            flex-wrap: wrap;
        }

        & a {
            font-size: 16px;
        }

    }


    #containes {
        overflow: hidden;
        padding-left: 5px;
    }


}

@media screen and (max-width: 400px) {
    #containes {
        overflow: hidden;
        padding: 5px;
        
    }

    .text-ctt {
        display: none;
    }

    .textMais {
        padding: 2px;
        width: 100%;


        & span {
            font-size: 15px;
        }


        & i {
            font-size: 10px;
        }
    }

    .coberturas-logos {
        display: flex;
        gap: 0px;
        align-items: center;
        margin-bottom: 10px;
        margin-left: 160px;

    }


    .side-bar {
        top: 2.3%;
    }

    .nav-rodaPe {
        & ul {
            line-height: 10px;
        }
    }

    .logo-cbc {
        width: auto;

        & img {
            width: 180px;
        }

        & h3 {
            font-size: 20px;
        }
    }

    .out {

        & img {
            width: 190px;

        }

        & h3 {
            font-size: 20px;
        }
    }

    #anucio {
        padding: 0;

    }

    .academy1 {
        padding-bottom: 10px;

    }

    .gata {

        & img {
            width: 190px;
        }

        & h3 {
            font-size: 20px;
        }

        & .linkMais {
            width: 150px;
        }


    }

    #butto-start {
        width: 100%;
        padding: 5;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        & span {
            font-size: 14px;
        }

        & i {
            font-size: 12px;
            padding: 2px;
            width: 15px;
            height: 16px;
            text-align: center;

        }

        & a {
            text-align: center;
            display: flex;
        }

    }

    .proxima-gata{
        width: auto;
    
    }
}